@import url('https://fonts.googleapis.com/css?family=Courgette');

.about-view{
  width:75%;
  z-index: 99;
  position: absolute;
  margin-top:1%;
  margin-bottom:1%;
  left:7%;
  padding-top:2%;
  padding-right:5%;
  padding-left:5%;
  padding-bottom:3%;
  background-color:rgba(53, 52, 52, 0.8);
  color: rgb(223, 157, 14);
}

.card-container {
  height: 25vw;
  perspective: 600;
  position: relative;
  width: 27vw;
  float: left;
  margin: 1% 6%;
  max-width: 285px;
  max-height: 260px;
}

.card.hover {
  transform: rotateY(180deg);
}
.card {
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card .front {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid black;
}
.card .back {
  transform: rotateY(180deg);
  background-color: black;
  border: 2px solid rgb(223, 157, 14);
  padding-left: 0.5vw;
  padding-top: 0.5vw;
}

.about h4 {
  font-size: 3vw;
  font-family: 'Courgette', cursive;
}

.about p {
  font-size: 2.2vw;
  
  line-height: 100%;
  width: 80%;
  text-align: left;
  margin-top: 0.5vw;
}

@media screen and (min-width: 880px) {
  .about p {
    font-size: 20px;
  }
}