.login-view{
  width:100%;
  text-align: center;
  padding: 8% 20%;
}

.login-view div {
  background-color:rgba(75, 74, 74, 0.8);
  width: 100%;
  padding: 4%;

}
#login-form > *{
  margin-bottom:4%;
  width:60%;
}

#login-form button {
  background-color: rgb(212, 175, 95);
}

.user-profile-view {
  width:100%;
  background-color:rgba(53, 52, 52, 0.8);
  color: rgb(212, 175, 95);
  text-align: center;
}

.user-profile-view section {
  padding: 3% 10%;
}

.user-profile-view h2 {
  padding: 4% 0%;
}

.user-profile-view button {
  background-color: rgb(212, 175, 95);
  width: 50%;
  height: 6vw;
  margin-bottom: 3vw;
}

#saved-routes-list li {
  background-color: rgb(212, 175, 95);
  color: black;
  text-decoration: none;
  font-size: 3em;
  padding: 2%;
  border: 1px solid black;
  margin: 4%;
}