.login-view{
  width:100%;
  text-align: center;
  padding: 8% 20%;
}

.login-view div {
  background-color:rgba(128,128,128,0.8);
  width: 100%;
  padding: 4%;

}
#login-form > *{
  margin-bottom:4%;
  width:60%;
}

#login-form button {
  background-color: rgb(223, 157, 14);
}

.user-profile-view{
  width:100%;
  background-color:rgba(53, 52, 52, 0.8);
  color: rgb(223, 157, 14);
  text-align: center;
}