*{
  font-family: 'Maven Pro', sans-serif;
  box-sizing: border-box;
}
html {
    margin: 0 auto;
    min-width: 400px;
}
header {
  position: relative;
}
header img {
    display: block;
    max-width: 60%;
    padding-left: 20px;
}
body {
  width: 100%;
}
.menu li{
  border-top: 1px solid rgb(223, 157, 14);
  text-align: center;
  padding: 5%;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.1em;
  background-color:rgba(128,128,128,0.2);
  font-family: 'Maven Pro', sans-serif;
}
a{
  text-decoration: none;
  color:rgb(63, 52, 20);
}
main{
  background-image: url('../images/city-background.png');
}
footer{
  height:5em;
  background-color: rgba(53, 52, 52, 0.8);
  clear: both;
}

h2{
  padding-top:5%;
  padding-bottom:10%;
  font-size:30px;
  color: rgb(223, 157, 14);
}
<<<<<<< HEAD
#create-form > *{
  margin-bottom:10%;
  width:60%;
}
.login-view{
  width:50%;
  z-index:99;
  position:absolute;
  margin-top:10%;
  margin-bottom:2%;
  left:23%;
=======

.user-profile-view{
  width:75%;
  margin-top:1%;
  margin-bottom:1%;
  left:7%;
  padding-top:2%;
  padding-right:5%;
  padding-left:5%;
  padding-bottom:3%;
  background-color:rgba(53, 52, 52, 0.8);
  color: rgb(223, 157, 14);
  text-align: center;
}
.about-view{
  width:75%;
  margin-top:1%;
  margin-bottom:1%;
  left:7%;
>>>>>>> 6b5a50f5dda8f42b5c29baa3bfa152ad13529309
  padding-top:2%;
  padding-right:5%;
  padding-left:5%;
  padding-bottom:3%;
<<<<<<< HEAD
  background-color:rgba(128,128,128,0.8);
  text-align: center;
}
#login-form > *{
  margin-bottom:10%;
  width:60%;
}
=======
  background-color:rgba(53, 52, 52, 0.8);
  color: rgb(223, 157, 14);
  text-align: center;
}
>>>>>>> 6b5a50f5dda8f42b5c29baa3bfa152ad13529309

/* @media only screen and (min-width: 800px) { */
  /* .hamburger {
    visibility: hidden;
  } */
/* 
  header nav ul li {
    visibility: visible;
    list-style-type: none;
    display: inline;
    margin-right: 2vw;
    }
  
  li a {
    color: grey;
    text-decoration: none;
    font-size: 2vw;
    margin-left: 1.5vw;
    }
  } */


